.form-control {
	border-color: $blue;
	background-color: transparent;
	color: $blueText;
	border-radius: 20px;
	margin-top: -5px;
	@include placeholder($blueText);

	&_search {
		background: image_url('search-icon.png') no-repeat 20px 50%;
		padding-left: 85px;
		max-width: 450px;
		font-size: 24px;
		height: 52px;
	}

	&_login-form {
		color: $greyDark;
		border-color: $greyDark;
		@include placeholder($greyDark);
		height: 52px;
		font-size: 20px;
		padding-left: 70px;
		background: image_url('login-icon.png') no-repeat 20px 50%;
	}

	&_password {
		background-image: image_url('password-icon.png');
	}
}

.content {
	padding: 40px 0 80px;
}

.page-title {
	font-size: 36px;
	color: $blueText;
	margin-bottom: 40px;
}

.movie-item {
	margin-bottom: 25px;

	&[onclick] {
		cursor: pointer;
	}

	&__title {
		font-size: 36px;
		color: $blueText;
	}

	&__desc {
		color: $greyDark;
		font-size: 28px;
	}
}

.border-green {
	border: 1px $green solid;
	border-bottom-width: 0;
	text-align: center;
	font-size: 24px;
	margin-bottom: 32px;

	&__body {
		padding: 35px 18px;
		color: $green;
	}

	&__footer {
		line-height: 65px;
		background: $green;
		color: #fff;
		font-size: 24px;
		text-align: center;
	}
}

.icon-message {
	display: inline-block;
	@include image-block('message-icon.png');
}

.grey-input {
	border: 1px $greyDark solid;
	//width: 285px;
	margin: 0 auto;
	border-radius: 0;
	text-align: center;
	height: 60px;
	font-size: 24px;
	color: $greyDark;
	@include placeholder($greyDark);
}

.border-blue {
	border: 1px $blueText solid;
	$padding: 30px;
	margin-bottom: 32px;
	font-size: 23px;

	&__header {
		border-bottom: 1px $blueText solid;
		padding: 0 $padding;
		line-height: 60px;
		color: $blueText;
	}

	&__body {
		padding: $padding;
		font-size: 18px;
	}

	&__footer {
		line-height: 65px;
		background: $blueText;
		color: #fff;
		font-size: 24px;
		text-align: center;
		width: 100%;
		border: 0;
	}
}

.icon-search {
	display: inline-block;
	@include image-block('search-icon.png');
	vertical-align: middle;
	margin-right: 15px;

	&_white {
		@include image-block('search-icon-white.png');
	}
}

.nav-tabs {
	margin-bottom: 15px;
}

.playlist {

	&__video {
		display: none;
		margin-bottom: 15px;
	}

	&__table {
		td {
			vertical-align: middle !important;
		}
	}
}

.video {
	width: 100%;
	height: 200px;
	object-fit: cover;

	@include media($md) {
		height: 100px;
	}

	@include media($sm) {
		height: auto;
	}
}