footer {
	background: $blueText;
	color: #fff;
	padding: 26px 0 80px;
}

.footer-nav {
	text-align: right;
	margin-top: 45px;

	a {
		color: #fff;
		font-size: 25px;
		margin-left: 20px;
	}
}

.copyright {
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding-top: 20px;
}