header {
	background: image-url('top-bg.jpg') no-repeat;
	@include background-size(cover);
	padding-top: 20px;
}

.logo {
	display: block;
	@include image-block('logo.png');
	margin-bottom: 60px;
}

.search-form {
}

.login-form {
	//width: 520px;
	margin-bottom: 20px;

	&__form {

	}

	&__button {
		border: 1px $blue solid;
		background: transparent;
		color: $blue;
		width: 100%;
		//height: 52px;
		line-height: 38px;
		margin-top: -5px;
		border-radius: 20px;
		font-size: 20px;
	}

	&__login {
		line-height: 44px;
		font-size: 20px;
	}

	&__blue {
		background: $blue;
		font-size: 30px;
		text-align: center;
		line-height: 60px;

		a {
			&, &:hover, &:focus {
				color: #fff;
			}
		}
	}
}

.white-bg {
	background: rgba(#fff, 0.58);
	padding-bottom: 15px;
	padding-top: 15px;
}

.header-nav {
	background: rgba(#fff, 0.4);
	font-size: 0;

	a {
		display: inline-block;
		padding: 0 25px;
		line-height: 92px;
		color: $blueText;
		font-size: 30px;
		text-decoration: none;
		width: (100% / 6);
		text-align: center;

		@include media($sm) {
			width: 100%;
		}

		&:hover, &.active {
			background: $blueText;
			color: #fff;
		}
	}
}