// required libs
@import "compass"; // do not import compass because there is a gulp plugin. To compile sass use 'gulp sass' from project root
@import "bootstrap";
@import "mixins";

// variables
$blue: #5DAFC5;
$blueText: #0F75AD;
$greyDark: #5b5959;
$green: #009944;

//modules
@import "modules/common";
@import "modules/header";
@import "modules/footer";
